body {
background-image: url(../images/90s.jpg);
}


#container {
	width: 800px;
	height: 2000px;
	padding: 20px;
	margin: auto;
	margin-top: 50px;
	font-family: georgia;
	background-color: white;
	opacity: .9;

	
}



h1 {
	text-align: center;
	font-family: big john;
	color: black;

}

#text {
	width: 600;
	height: 2000;
	margin-left: 50px;
	margin-top: 50px;
	
}

p {
	font-family: bell mt;
	font-style: light;
	text-align: left;
	font-size: 12pt;
	line-height: 15pt;

	}

#record {
width: 200px;
height: 200px;
padding: 50px;
}